header{
    background: #5384FF;
    display: flex;
    justify-content: center;
}
footer{
    color: white;
    position: absolute;
	bottom: 0;
    height: 60px;
    width: 100%;
    background: #312D2D;
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-around;
    padding: 0
}
.buttons a{
    border: 1px solid #CCC;
    width: 100%;
    text-align: center;
    padding: 1em;
    background: #2B689D;
    color: white;
}
#search{
    width: 100%;
    padding: 1em;
    margin-top: 3px;
    border-radius: 0;
}
#searching{
    width: 100%;
    padding: 1em;
    text-align: center;
}
.licorerias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
}

.licoreria:nth-child(2n){
    background: rgba(128, 128, 128, 0.3);;
}

.licoreria{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}
.header-detail{
    background: #556B55;
    padding: 1em;
    width: 100%;
    text-align: center;
    color: white;
}
.footer-detail{
    background: #556B55;
    padding: 1em;
    width: 100%;
}
.footer-detail a{
    color: white;
}
