<div class="detail" ng-controller="detailController" ng-cloak>
    <div class="header-detail">
        <h2>{{licoreria.name}}</h2>
    </div>
    <div class="body-detail text-center">
        <p>
            {{licoreria.direccion}}
        </p>
        <h3><small>Cerveza: </small>{{licoreria.cerveza| currency:"Bs. ":1}}</h3>
        <h3><small>Por caja: </small>{{licoreria.caja| currency:"Bs. ":1}}</h3>
        <h3><small>Ron: </small>{{licoreria.ron| currency:"Bs. ":1}}</h3>
    </div>
    <div class="footer-detail">
        <a href="/app/#/">Volver</a>
    </div>

</div>
